!.gitignore
*.db
*.pyc
*.pyo
*.log
*~
.env
.idea
.vscode
*.pid
*.ipynb
settings_*.py
wsgi_*.py
restart.txt
build
static/js/node_modules
static/django_js_reverse/js/reverse.js
bin/
include/
lib/
local/
share/
build/
media/
.cache
.tox
.directory
.coverage.py*
results.py*
__pycache__/
config.json